<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Jetty-Equinox OSGi runtime</display-name>
    <description>
        Testing runtime for all bundles
    </description>

   	<!--context-param>
	   <param-name>contextClass</param-name>
	  <param-value>
		   org.springframework.osgi.context.support.OsgiWebApplicationContext
	  </param-value>
	</context-param-->

	<servlet id="bridge">
		<servlet-name>equinoxbridgeservlet</servlet-name>
		<servlet-class>org.eclipse.equinox.servletbridge.BridgeServlet</servlet-class>
		<!-- -->
		<init-param>
			<param-name>commandline</param-name>
			<!-- wock: 8083, rock: 8084 -->
			<param-value>-console</param-value>			
		</init-param>
		 
				
		<init-param>
			<param-name>enableFrameworkControls</param-name>
			<param-value>true</param-value>			
		</init-param>
		<!--
		  org.eclipse.equinox.servletbridge and the Servlet API are exported automatically to the underlying OSGi framework.
		  The extendedFrameworkExports parameter allows the specification of additional java package exports.
		  The format is a comma separated list of exports as specified by the "Export-Package" bundle manifest header.
		  For example: com.mycompany.exports; version=1.0.0, com.mycompany.otherexports; version=1.0.0
		  -->
		<init-param>
			<param-name>extendedFrameworkExports</param-name>
			<param-value></param-value>			
		</init-param>

		<!-- 
		  You can specify your own framework launcher here.
		  The default is: org.eclipse.equinox.servletbridge.FrameworkLauncher
		<init-param>
			<param-name>frameworkLauncherClass</param-name>
			<param-value>org.eclipse.equinox.servletbridge.FrameworkLauncher</param-value>
		</init-param>	
		-->		
		<load-on-startup>1</load-on-startup>
	</servlet><!--
	
	<servlet>
		<servlet-name>pdatest</servlet-name>
		<servlet-class>
		  echo2example.helloworld.HelloWorldServlet
		</servlet-class>
		<init-param>
		  <param-name>contextClass</param-name>
		  <param-value>
		  org.springframework.osgi.context.support.OsgiWebApplicationContext
		  </param-value>
		</init-param>
	</servlet>
	
	--><servlet-mapping>
		<servlet-name>equinoxbridgeservlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>


</web-app>
